.card {
	height: 300px;
	// width: calc(25% - 20px);
	width: calc(1140px / 4 - 20px);
	margin: 0 10px 50px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 0.3s;

	&:hover {
		transform: scale(1.01);
		box-shadow: 0 0 15px 3px rgba(128, 128, 128, 0.15);
	}

	&Photo {
		// width: 90%;
		max-width: 215px;
		max-height: 215px;
		background-color: rgba(128, 128, 128, 0.2);

		& >img {
			width: 100%;
		}
	}

	&Info {
		width: 170px;
		margin-top: 5px;

		&__id {
			font-size: 14px;
			color: #919191;
			font-weight: bold;
			margin: 5px 0;
		}

		&__name {
			font-size: 22px;
			color: #313131;
			margin: 15px 0;
		}
	}
}


@media (max-width: 1140px) {

}