.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 15px 10px 0 10px;
	display: flex;
	flex-direction: row;

	&__mainList, &__favouritesList {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex: 1 1 570px;
		transition: 0.2s;
		
		&__headers {
			margin: 15px 0;
			font-size: 25px;
			line-height: 1;
		}

		&__list {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: flex-start;
			overflow: scroll;
			width: 100%;
			max-height: calc(100vh - 66px);
			height: max-content;
		}
	}

	&__favouritesList.fullWidth{
		display: none;
		// flex: 0 0 0px;
	}
}

.list {
	// width: 50%;
	// flex: 1 1 570px;
	// flex-basis: 570px;
	// flex-grow: 1;
	// flex-shrink: 1;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	overflow: scroll;
	transition: 0.2s;
	
	&_mainList {
		height: calc(100vh - 15px);
	}
	
	&_favouritesList {
		max-height: calc(100vh - 15px);
		height: max-content;

		&.fullWidth {
				flex: 0 0 0px;
		}
	}
}
